<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>New Product</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ATN Shop</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Control
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/new">Add new product</a></li>
            <li><a href="/view">View all product</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search " name="txtSearch">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</nav>  

<div>
    <form action="/addProduct" method="post">
    <h1 style="text-align: center;">New product 3322</h1>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="txtName" style="width: 500px; height: 30px;">
        {{check}}
    </div>
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" placeholder="Enter Price" name="txtPrice" style="width: 150px; height: 30px;">
        
    </div>
        <label for="picture">Picture URL:</label>
        <input type="text" class="form-control" id="imageURL" placeholder="Enter Picture URL" name="txtPic" style="width: 500px; height: 30px;">
    </div>
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="txtDes" style="width: 500px; height: 80px;">
    </div>    
        <br>
        <button type="submit" value="Create Product" class="btn btn-primary">Create Product</button>
    </form>
    </div>
</body>

</html>